html
{
	overflow: auto;
}

body
{
	margin: 0;
	background-color:#e4e7db;
	padding: 0;
	font-size: 70%;
	font-family: verdana;
	color: #DDD;
}
p{
color: #7EA800;	
}
span{
	color: #7EA800;
}
img{
	height:600px;
	max-width: 300px;
}
